.getPreWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 10px 0; }
  .getPreWrapper .icon {
    width: 20px;
    fill: #4CAF50; }
  .getPreWrapper p {
    margin: auto 0; }
  .getPreWrapper button {
    color: red;
    border-radius: 20px;
    border: 1px solid red;
    background: white;
    padding: 5px 10px;
    margin-left: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .getPreWrapper button:hover {
      background: lightgray; }
