*{
  padding: 0;
  margin: 0;
}

.contactWrapper{
  background: #333;
  margin-top: 20px;

  .share{
    justify-content: space-between;


    ul{
      margin: 0;
      list-style: none;
      display: flex;
      padding: 25px;
    }

    a{
      background: white;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      transition: 0.5s;
      margin: 10px;
    }

    .apps{
      a{
        &:hover {
          background:gray;
        }
      }

    }
  }
}