.headerWrapper {
  border-bottom: 1px solid gray; }
  .headerWrapper a {
    color: black;
    text-decoration: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header .burger {
    margin: auto 0; }
    .header .burger div {
      width: 30px;
      background: black;
      height: 2px;
      margin: 5px; }
  .header .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .navBar .logo {
      margin: auto 0; }
  .header ul {
    list-style: none;
    margin: 0; }
  .header p {
    margin: 0;
    text-align: center; }
  .header li {
    padding: 10px; }
    .header li :hover {
      color: red; }
    .header li .liTitle p {
      color: black;
      font-weight: bold; }
  .header .label {
    border-bottom: 2px solid transparent;
    width: auto; }
    .header .label:hover {
      border-bottom: 2px solid red; }
  .header .innerMenu {
    width: 100%;
    position: absolute;
    margin-top: 13px;
    left: 0;
    z-index: 5;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid lightgray; }
    .header .innerMenu p {
      text-align: left; }
  .header .logWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .logWrapper .mobileLogo {
      position: relative; }
      .header .logWrapper .mobileLogo .mobileInnerMenu {
        position: absolute;
        width: 300px;
        background: white;
        z-index: 5;
        right: 0;
        top: 107%;
        border: 1px solid lightgray; }
        .header .logWrapper .mobileLogo .mobileInnerMenu .mobileCard {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin: 10px; }
    .header .logWrapper > div {
      margin: auto 0;
      text-align: center;
      height: 100%;
      border-bottom: 2px solid transparent;
      padding: 10px; }
      .header .logWrapper > div:hover {
        border-bottom: 2px solid red; }
    .header .logWrapper a:hover {
      color: red; }
    .header .logWrapper .Advertise {
      border-left: 1px solid gray; }
